@use '../abstracts' as *;

.storage-display {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .localstorage-display {
        width: 600px;
        margin: 1em 0;
        background-color: $mainBgOP;

        .displayed-heading {
            text-transform: uppercase;
            text-align: center;
            padding: 1em 0;
            font-weight: $fwBold;
        }

        .displayed-description {
            text-align: center;
            color: $pColor;
        }

        .displayed-warning {
            color: red;
            display: none;
            text-align: center;
        }

        .displayed_passwords {
            margin: 1em 0;
            padding: 1em;
            border-top: 2px solid black;
            border-bottom: 2px solid black;

            .clear_list {
                width: 100px;
                height: 30px;
                border: none;
                color: #fff;
                cursor: pointer;
                margin-left: 1em;
                box-shadow: .1rem .3rem .5rem #000;
                text-transform: uppercase;
                transition: box-shadow ease-in-out 250ms;
                letter-spacing: 1.5px;
            }

            .password_list {
                padding: 0;
                list-style: none;
                color: $headingColor;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .listedPassword {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
    
                &-item {
                    padding: .35em 0;
                    font-weight: $fwBold;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }

                .spanTest {
                    width: 150px;
                }
    
                .pw_name,
                .pw_password {
                    color: #fff;
                    font-weight: $fwNorm;
                }

                .pw_name {
                    width: 5vw;
                }

                .pw_password {
                    margin-right: 1.2em;
                    width: 18ch;
                }

                .remove_pw {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 65px;
                    width: 50px;
                    text-transform: uppercase;
                    color: #fff;
                    cursor: pointer;
                    border: none;
                    background: none;
                    padding-left: 2.25em;

                    .fa-minus-square {
                        font-size: 2.25rem;
                        pointer-events: inherit;
                        color: $headingColor;
                    }
                }
            }
        }
    }
}