// Colors
$mainBg: #BBC2E2;
$mainBgOP: #BBC2E2B8;
$pColor: #464f5d;
$headingColor: #374581;
$btnShade: #495bab;
$sourceLink: #899cef;

// Font weights
$fwLight: 300;
$fwNorm: 400;
$fwBold: 700;
$fwBbold: 800;
$fwBbolder: 900;